<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
  <link rel="stylesheet"
        href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css"
        integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
  <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
</head>

<body class="profile-page">
<nav class="navbar navbar-color-on-scroll navbar-transparent    fixed-top  navbar-expand-lg "
     id="sectionsNav">
  <div class="container">
    <div class="navbar-translate">
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
              aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{information.linkedin}}"
             target="_blank">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{information.github}}"
             target="_blank">
            <i class="fa fa-github"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{information.instagram}}" target="_blank">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{information.facebook}}" target="_blank">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="page-header header-filter" data-parallax="true"></div>
<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <img
                src="assets/me.jpg"
                alt="Circle Image" class="img-raised rounded-circle img-fluid">
            </div>
            <div class="name">
              <h3 class="title">{{information.name}}</h3>
              <h3>{{information.title}}</h3>
              <a href="{{information.linkedin}}" class="btn btn-just-icon btn-link btn-linkedin"><i
                class="fa fa-linkedin"></i></a>
              <a href="{{information.github}}" class="btn btn-just-icon btn-link btn-github"><i
                class="fa fa-github"></i></a>
              <a href="{{information.instagram}}" class="btn btn-just-icon btn-link btn-instagram"><i
                class="fa fa-instagram"></i></a>
              <a href="{{information.facebook}}" class="btn btn-just-icon btn-link btn-facebook"><i
                class="fa fa-facebook-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <mat-card>{{information.description}}</mat-card>
      <div class="divider"></div>
      <h2 class="divider-title">Achievements</h2>
      <mat-grid-list [cols]="breakpoint" rowHeight="200" class="grid" (window:resize)="onResize($event)">
        <mat-card-header></mat-card-header>
        <mat-grid-tile *ngFor="let item of information.achievements" class="grid-title">
          <mat-card class="multiple-card">
            <mat-card-header>
              <img src="{{item.image}}" mat-card-avatar class="example-header-image"/>
              <mat-card-title>{{item.name}}</mat-card-title>
              <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <p>
                {{item.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="{{item.url}}" target="_blank" mat-button color="primary">VIEW</a>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>

      <div class="divider"></div>
      <h2 class="divider-title">Experience</h2>
      <div class="experience">
        <mat-grid-list cols="1" rowHeight="200" class="grid" (resize)="onchangeRowHeightGrid($event)">
          <mat-grid-tile *ngFor="let item of information.experience" class="grid-title">
            <mat-card class="single-card">
              <mat-card-header class="wp-card-header">
                <mat-card-title>{{item.name}}</mat-card-title>
                <mat-card-subtitle>{{item.location}}</mat-card-subtitle>
              </mat-card-header>
              <div class="image-experience-container">
                <img src="{{item.image}}" class="image-experience">
              </div>
            </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
        <div class="experience-div"></div>
      </div>

    </div>
  </div>
</div>

<footer class="footer text-center ">

</footer>


</body>
